<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     th:fragment="footer">
    <div class="container">
        <footer>
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
            <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="webjars/axios/0.17.0/dist/axios.min.js"></script>
            <script type="text/javascript" src="webjars/vue/2.5.3/vue.min.js"></script>
         </footer>
    </div>
</div>